[submodule "MartijnKluijtmans/field-service"]
	path = MartijnKluijtmans/field-service
	url = git@github.com:MartijnKluijtmans/field-service.git
	branch = 12.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 12.0
